@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
  
  body {
    @apply bg-primary m-0 p-0;
  }
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

:root {
  font-size: 16px; /* Base font size for desktop */
}

@media screen and (max-width: 1440px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 10px;
  }
}
